/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: red; /* Change the color to red */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width: calc(33.33% - 20px); /* Adjust the width based on your preference */
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.product p {
    margin: 5px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
.nav-link { /* Specific class for navigation links */
    text-decoration: none;
    color: red; /* Change the color to red */
}

